@page "/editar/{anuncioId:int}"
@*Se inyecta el navigation para poder navegar de paginas en pagina*@
@inject NavigationManager navigationManager
@*Se inyecta el http para tener acceso a los servicios de HTTP(tanto get,post,put,delete)*@
@inject IHttpService http

@if (anuncio != null)
{
    <FormAnuncio nuevo="anuncio"
                 tituloAnuncio="Editar" textobtn1="Confirmar"
                 textobtn2="Volver" onValidSubmit="GrabarEditar"
                 onCancel="Cancelar"
                 fecha="anuncio.FechaSuceso">
        <button type="button"  class="btn btn-danger btn-sm btn-block" data-bs-toggle="modal" data-bs-target="#Confirmacion">Eliminar</button>
    </FormAnuncio>

}

<!-- The Modal -->
<div class="modal fade" id="Confirmacion">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Atención</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
               ¿Desea eliminar la publicación?
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
                <button type="button"  @onclick="Eliminar" class="btn btn-danger " data-bs-dismiss="modal">Confirmar</button>
            </div>

        </div>
    </div>
</div>


@code {
    string colorHeader;
    private IList<string> ImageDateUrls = new List<string>();
    private Anuncio anuncio;
    bool mostrarNombre;
    [Parameter] public int anuncioId { get; set; }


    protected override async Task OnInitializedAsync()
    {
        base.OnInitialized();
        await TraerAnuncio();
        ImagenPrevia(anuncio);
    }
    private async Task TraerAnuncio()
    {
        var respuestaHttp = await http.Get<Anuncio>($"api/publicaciones/{anuncioId}");
        if (!respuestaHttp.Error)
        {
            anuncio = respuestaHttp.Respuesta;

        }
        if (respuestaHttp.Error)
        {
            var body = await respuestaHttp.GetBody();//Sitenemos un error, se va a mostrar
        }

    }
    private void ImagenPrevia(Anuncio item)
    {

        TipoPublicacion();
        var format = "image/jpg";
        var imageDataUrl = $"data:{format};base64,{Convert.ToBase64String(item.Foto)}";
        item.RutaFoto = imageDataUrl;

    }
    private void TipoPublicacion()
    {
        switch (anuncio.Tipo)
        {
            case 1:
                colorHeader = "#ff9494";
                anuncio.Estado = "Perdido";
                mostrarNombre = true;

                break;
            case 2:
                colorHeader = "#FFF664";
                anuncio.Estado = "En Adopción";
                mostrarNombre = true;

                break;
            case 3:
                colorHeader = "#7aff33";
                anuncio.Estado = "Encontrado";
                mostrarNombre = false;

                break;
                //default:
                //    colorHeader = "#ff9494";
                //    break;
        }


    }
    private async Task GrabarEditar()
    {
        anuncio.FechaAnuncio = DateTime.Now;
        anuncio.UsuarioId = 4;//momentaneo hasta que pueda tomar el id de cada usuario

        var httpRespuesta = await http.Put<Anuncio>($"api/publicaciones/{anuncio.Id}", anuncio);
        if (httpRespuesta.Error)
        {
            var body = await httpRespuesta.GetBody();//Sitenemos un error, se va a mostrar
        }
        navigationManager.NavigateTo("/anuncios"); //Luego va a los anuncios

    }
    private void Cancelar()
    {
        navigationManager.NavigateTo("/anuncios");
    }
    private async Task Eliminar()
    {
        var httpRespuesta = await http.Delete($"api/publicaciones/{anuncio.Id}");
        if (httpRespuesta.Error)
        {
            var body = await httpRespuesta.GetBody();//Sitenemos un error, se va a mostrar
        }
        navigationManager.NavigateTo("/anuncios"); //Luego va a los anuncios

    }


}
