@page "/"

<div class="container-fluid p-5 my-5 border">

    <center>
        <h3>¿Nos encontramos?</h3>
        <img src="/image/bannerInicio.jpg" class="img-fluid"alt="Imagen de Fondo">
    </center>
    

</div>