<div class="container">
    <div class="card" style="width: 18rem;">
        <div class="card-header">
            <p class="text-center">Buscado</p>
        </div>
        <img src="/image/mascota3.jpg" class="card-img-top" alt="anuncio1">
        <div class="card-body">
            <h3 class="text-center">Micha</h3>
            <p class="text-center">Some quick example text to build on the card title and make up the bulk of the card's content</p>

        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Mediano</li>
            <li class="list-group-item">Fecha: 20/02/2022</li>
            <li class="list-group-item">Color: Negro - Blanco</li>
        </ul>
        <div class="card-body">
            <button type="button" class="btn btn-primary btn-sm btn-block">Lo ví</button>
            <button type="button" class="btn btn-success btn-sm btn-block">Lo tengo conmigo</button>
        </div>
    </div>
</div>
@code {

}
